black
griffe
mkdocs-autorefs==0.3.1
mkdocs-bibtex
mkdocs-charts-plugin
mkdocs-gen-files
mkdocs-img2fig-plugin
mkdocs-literate-nav
mkdocs-macros-plugin
mkdocs-material
mkdocs-section-index
mkdocstrings
mkdocstrings-python
mknotebooks
